@keyframes dropDownResponsive {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }

@keyframes dropDown {
  0% {
    transform: scaleY(0) translateY(2rem); }
  100% {
    transform: scaleY(1) translateY(2rem); } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 36em) {
    html {
      font-size: 37.5%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Roboto", "Sans Serif"; }

.nav-bar {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Open Sans", "Sans Serif"; }
  @media only screen and (max-width: 75em) {
    .nav-bar {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 48em) {
    .nav-bar {
      font-size: 2.5rem; } }
  .nav-bar__link:link, .nav-bar__link:visited, .nav-bar__sublink:link, .nav-bar__sublink:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
  .nav-bar__link--sticky:link, .nav-bar__link--sticky:visited, .nav-bar__sublink--sticky:link, .nav-bar__sublink--sticky:visited {
    color: #00c2cb; }
  .nav-bar__link:link, .nav-bar__link:visited {
    text-transform: uppercase; }
  .nav-bar__sublink:link, .nav-bar__sublink:visited {
    text-transform: capitalize; }

@media only screen and (max-width: 55em) {
  .nav-bar {
    flex-basis: 100%;
    order: 3;
    padding-bottom: 1rem; } }

@media only screen and (max-width: 48em) {
  .nav-bar {
    position: absolute;
    top: 7.5rem;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #00c2cb;
    border-radius: 0;
    transition: all cubic-bezier(0.9, 0, 0.35, 1) 0.7s; } }

.nav-bar__logo-container {
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: relative;
  width: 22rem;
  height: 7rem;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 55em) {
    .nav-bar__logo-container {
      justify-content: flex-start;
      flex-basis: 50%;
      order: 1; } }
  @media only screen and (max-width: 48em) {
    .nav-bar__logo-container {
      cursor: auto;
      display: flex;
      justify-content: flex-start;
      flex-basis: 40%;
      order: 1; } }

.nav-bar__logo {
  position: absolute;
  left: 0;
  margin: 1rem;
  height: 5rem;
  border-radius: 4px;
  transition: opacity .3s ease-in-out; }
  @media (hover: hover) {
    .nav-bar__logo--top:hover {
      opacity: 0; } }
  @media (hover: none) {
    .nav-bar__logo--top:hover {
      opacity: 0; } }

.nav-bar__list {
  display: flex;
  justify-content: center;
  list-style-type: none; }
  @media only screen and (max-width: 48em) {
    .nav-bar__list {
      flex-direction: column; } }

.nav-bar__element, .nav-bar__subelement {
  margin: .5rem;
  padding: 0;
  border-radius: 4px;
  transition: all .3s;
  background-color: inherit; }

.nav-bar__link, .nav-bar__sublink {
  -webkit-user-select: none;
  -ms-user-select: none;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: all .3s; }
  @media only screen and (max-width: 75em) {
    .nav-bar__link, .nav-bar__sublink {
      cursor: default; } }

.nav-bar__element {
  position: relative; }
  @media (hover: hover) {
    .nav-bar__element:hover {
      background-color: #267c80; }
    .nav-bar__element:hover .nav-bar__link {
      color: #b3fbff; }
    .nav-bar__element:hover .nav-bar__sublist {
      -webkit-user-select: none;
      -ms-user-select: none;
      display: block;
      animation: dropDown .3s ease-in-out both;
      transform-origin: top center; } }
  @media only screen and (hover: hover) and (max-width: 48em) {
    .nav-bar__element:hover .nav-bar__sublist {
      animation: dropDownResponsive .3s ease-in-out both;
      transform-origin: top center; } }
  @media only screen and (max-width: 48em) {
    .nav-bar__element {
      margin: 0;
      border-radius: 0;
      text-align: center;
      border-bottom: 1px solid rgba(38, 124, 128, 0.5); } }
  .nav-bar__element::after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: transparent;
    width: 20rem;
    height: 2rem; }
    @media only screen and (max-width: 48em) {
      .nav-bar__element::after {
        width: 0;
        height: 0; } }
  .nav-bar__element .nav-bar__link {
    color: #fff; }
  .nav-bar__element--active {
    background-color: #267c80; }
    .nav-bar__element--active .nav-bar__link {
      color: #b3fbff; }

.nav-bar__link {
  padding: .8rem; }

.nav-bar__sublist {
  display: none;
  position: absolute;
  left: 0;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  background-color: #00c2cb;
  border-radius: 4px;
  width: 20rem;
  border: solid 0.2rem rgba(38, 124, 128, 0.5); }
  @media only screen and (max-width: 48em) {
    .nav-bar__sublist {
      width: 100%;
      cursor: auto;
      position: relative; } }
  .nav-bar__sublist--active {
    display: block;
    animation: dropDown .3s ease-in-out both;
    transform-origin: top center; }
    @media only screen and (max-width: 48em) {
      .nav-bar__sublist--active {
        animation: none; } }

.nav-bar__subelement:active {
  background-color: #267c80; }

.nav-bar__subelement:active .nav-bar__sublink {
  color: #b3fbff; }

.nav-bar__subelement:hover {
  background-color: #267c80; }

.nav-bar__subelement:hover .nav-bar__sublink {
  color: #b3fbff; }

.nav-bar__sublink {
  padding: .2rem; }
  @media (hover: none) {
    .nav-bar__sublink:active {
      color: #b3fbff; } }
  @media (hover: hover) {
    .nav-bar__sublink:hover {
      color: #b3fbff; } }

.nav-bar__login-lang {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media only screen and (max-width: 55em) {
    .nav-bar__login-lang {
      flex-basis: 45%;
      order: 2; } }
  @media only screen and (max-width: 48em) {
    .nav-bar__login-lang {
      display: flex;
      justify-content: center;
      flex-basis: auto;
      order: 2; } }
  .nav-bar__login-lang__login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #b3fbff; }
  .nav-bar__login-lang__lang-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .nav-bar__login-lang-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    fill: #267c80; }

.nav-bar__menu-button-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-bar__menu-icon {
  display: none; }
  @media only screen and (max-width: 48em) {
    .nav-bar__menu-icon {
      display: block;
      width: 5.5rem;
      height: 5.5rem;
      margin: 1rem;
      flex-basis: 50%;
      fill: #267c80; } }

.nav-bar--active {
  display: block;
  left: 0;
  flex-basis: 100%;
  order: 3; }

.header {
  height: auto; }
  .header__nav-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    height: auto;
    margin: 2rem auto;
    padding: 0 .5rem;
    align-items: center;
    background-color: #00c2cb;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(68, 68, 68, 0.8); }
    @media only screen and (max-width: 75em) {
      .header__nav-bar {
        margin: 2rem; } }
    @media only screen and (max-width: 55em) {
      .header__nav-bar {
        justify-content: space-between;
        flex-wrap: wrap; } }
    @media only screen and (max-width: 48em) {
      .header__nav-bar {
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        justify-content: space-between;
        flex-wrap: wrap; } }
    .header__nav-bar--sticky {
      animation: dropDownResponsive .3s ease-in-out both;
      transform-origin: top center;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      max-width: 100%;
      border-radius: 0;
      width: 100%;
      box-shadow: none; }
      @media only screen and (max-width: 75em) {
        .header__nav-bar--sticky {
          margin: 0; } }

main {
  height: 300rem; }

.section-1 {
  margin: 2rem auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.8);
  max-width: 1200px;
  height: 50rem;
  background-color: #267c80; }
  @media only screen and (max-width: 75em) {
    .section-1 {
      margin: 2rem; } }
  @media only screen and (max-width: 48em) {
    .section-1 {
      margin: 0;
      border-radius: 0;
      box-shadow: none;
      height: 100rem; } }
