.header {
    height: auto;

    &__nav-bar {
        display: flex;
        justify-content: space-between;
        position: relative;
        max-width: 1200px;
        height: auto;
        margin: 2rem auto;
        padding: 0 .5rem;
        align-items: center;
        background-color: $primary-color;
        border-radius: 4px;
        box-shadow: 6px 0 10px -5px rgba($shadow-color, 0.8), -6px 0 10px -5px rgba($shadow-color, 0.8), 0 -6px 10px -5px rgba($shadow-color, 0.8);

        @media only screen and (max-width: $bp-lg) {
            margin: 2rem;
        }

        @media only screen and (max-width: $bp-nav-bar2) {
            justify-content: space-between;
            flex-wrap: wrap;
        }

        @media only screen and (max-width: $bp-sm) {
            border-radius: 4px 4px 0px 0px;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}