.header {
    height: auto;

    &__nav-bar {
        @media only screen and (max-width: $bp-lg) {
            margin: 2rem;
        }

        @media only screen and (max-width: $bp-nav-bar2) {
            justify-content: space-between;
            flex-wrap: wrap;
        }

        @media only screen and (max-width: $bp-sm) {
            margin: 0;
            border-radius: 0;
            box-shadow: none;
            justify-content: space-between;
            flex-wrap: wrap;
        }


        &--sticky {
            @media only screen and (max-width: $bp-lg) {
                margin: 0;
            }

            animation: dropDownResponsive .3s ease-in-out both;
            transform-origin: top center;
            position: fixed;
            top: 0;
            left: 0;
            margin: 0;
            max-width: 100%;
            border-radius: 0;
            width: 100%;
            box-shadow: none;
        }

        display: flex;
        justify-content: space-between;
        position: relative;
        max-width: $max-width;
        height: auto;
        margin: 2rem auto;
        padding: 0 .5rem;
        align-items: center;
        background-color: $primary-color;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba($shadow-color, 0.8);
    }
}