html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-lg) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-lg) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-xs1) {
        font-size: 37.5%;
    }

    //Fix for galaxy fold, lowest viewport possible, 280px
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: $font-primary;
}