.nav-bar {
    font-size: $navbar-fontsize-lg;
    font-weight: 600;
    font-family: $font-secondary;

    @media only screen and (max-width: $bp-lg) {
        font-size: $navbar-fontsize-md;
    }

    @media only screen and (max-width: $bp-sm) {
        font-size: $navbar-fontsize-sm;
    }

    &__link,
    &__sublink {

        &:link,
        &:visited {
            color: $white-color;
            text-decoration: none;
            text-transform: uppercase;
        }

        &--sticky {
            &:link,
            &:visited {
                color: $primary-color;
            }
        }
    }

    &__link {

        &:link,
        &:visited {
            text-transform: uppercase;
        }
    }

    &__sublink {

        &:link,
        &:visited {
            text-transform: capitalize;
        }
    }    
}